
module openvpn-net_conf 1.0;

require {
	type openvpn_t;
	type systemd_resolved_var_run_t;
	class file { getattr open read };
}

#============= openvpn_t ==============
allow openvpn_t systemd_resolved_var_run_t:file { getattr open read };
